// palette colore applicazione versione 1
$fundamental-palette: (
  red-movies: #d22c2d,
  green-books: #6ec95e,
  blue-music: #4c4fe1,
  yellow-tvseries: #f5e94f,
  navbar-bground: #000000,
  navbar-text: #f5e94f,
);

$google-palette: (
  red-google: #dc3545,
  green-google: #198754,
  blue-google: #0d6efd,
);
